body, html{
    background-color: #f9f9f9f9;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body h1{
    margin: 0;
    padding: 1em;
}

.wrapper{
    margin: 0 auto;
    width: 1000px;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;
    list-style: none;
    
}
nav{
    margin-top: 1em;
}

table{
    text-align: center;
}

table th{
    margin: 0 0.5em;
}

header,footer{
    background: #5cbbd6;
    color: white;
    text-align: center;
}

.green{
    background: green;
}

.blue{
    background: blue;
}

.bienvenue{
    float: right;
}

/************** FICHE CLIENT *************************/
.attribut{
    margin-left: 5em;
}

/************* Administration d'une Commande ********/
.gallerie{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/************* Footer *******************************/
footer{
    margin-top: 2em;
}