{% extends "baseCommande.html.twig" %}

{% block title %}Vue de la Commande{% endblock %}

{% block body %}


{% if app.user.username != commande.user.username %}

Vous n'avez pas accés à cette page.
{% else %}
Voici les données pour la commande : 
<table class="table">
<th>
<tr>
    <td>
        {{commande.user.username}}
    </td>
    <td>
        {{commande.dateDeCommande|date("d/m/Y")}}
    </td>
    <td>
        {{commande.objet}}
    </td>
    <td>
        {{commande.statut}}
    </td>
    
</tr>


</table>

{% if commande.facture is defined and commande.facture.DateDeFacture is defined %}
<a class="btn btn-primary" href="{{ path('app_admin_voir_facture',{'commandeId':commande.id})}}" target="_blank" role="button">voir la facture</a>
{% endif %}
<h3>Photos correspondant à la commande :</h3>
<section class="gallerie"> 

{% for image in commande.photo %}
<img src="{{image.AdresseUrl}}" alt="la photo n'est pas là"/>
{% endfor %}
</section>
{% endif %}
{% endblock %}