{% extends "baseCommande.html.twig" %}

{% block title %}Vos commandes de plaques{% endblock %}

{% block body %}

<div>
Passer une commande:
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{{ form_start(form) }}
{{ form_label(form.objet,'Objet de la commande') }}<br>
{{ form_widget(form.objet) }}<br>
Adresse de livraison:<br>
{{form_label(formAdresse.nom,'Nom du lieu:')}}<br>
{{ form_widget(formAdresse.nom) }}<br>
{{form_label(formAdresse.rue,'adresse:')}}<br>
{{ form_widget(formAdresse.rue) }}<br>
{{form_label(formAdresse.code_postal,'code postal:')}}<br>
{{ form_widget(formAdresse.code_postal) }}<br>
{{form_label(formAdresse.ville,'ville:')}}<br>
{{ form_widget(formAdresse.ville) }}<br>
{{ form_label(form.dateDeLivraison,'Date de livraison')}}<br>
{{ form_widget(form.dateDeLivraison)}}<br>
{{ form_widget(form.commander)}}
{{ form_end(form) }}
</div>
{% endblock %}