{% extends "baseCommande.html.twig" %}

{% block title %}Suivi de vos commandes{% endblock %}

{% block body %}

<div>
Voici l'historique de vos commandes:

<table class="table">
  <thead class="table-primary">
    <tr>
    <th>date de commande</th>
    <th>date de livraison</th>
    <th>objet</th>
    <th>statut de la commande</th>
    <th>statut de facturation</th>
    <th>voir </th>
</tr>
</thead>
{% for commande in commandes %}
<tr>
    
    <td>
        {{commande.dateDeCommande|date("d/m/Y")}}
    </td>
    <td>
    {{commande.DateDeLivraison|date("d/m/Y")}}
    </td>
    <td>
        {{commande.objet}}
    </td>
    <td>
        {{commande.statut}}
    </td>
    {% if commande.facture is defined and commande.facture.DateDeFacture is defined %}
    <td class="green">
    </td>
    {% else %}
    <td class="blue">
    </td>
    {% endif %}
    <td>
        <a href="{{ path('app_Command_vue',{'commandeId':commande.id})}}"> <i class="fa fa-eye" aria-hidden="true"></i> </a>
    </td>
</tr>
{% endfor %}

</table>

</div>
{% endblock %}