{% extends "baseCommande.html.twig" %}

{% block title %}Vos commandes de plaques{% endblock %}

{% block body %}

<div>
Félicitation, votre commande a été passée avec succès.
Vous pouvez la suivre dans le menu, suivi de mes commandes.
</div>
{% endblock %}