<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">        
        <link rel="stylesheet" type="text/css" href="/style/main.css">{% endblock %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    </head>
    <body>
        <header>
            <div class="wrapper">
                <h1>Bienvenu sur le site de baptiste, les meilleures plaques de Lyon à vélo!</h1>
            </div>

        </header>

        <div class="wrapper">
        
        {% if "ROLE_SUPER_ADMIN" in app.user.roles %}
        <a class="btn btn-info btn-sm" href=" {{ path('app_admin_page')}}" role="button">Administration</a>
        {% endif %}
         <span class="bienvenue">Bienvenue <b>{{app.user.username}}</b></span>

        <nav>
            <ul>
                <li><a class="btn btn-primary" href=" {{ path('app_Command_page')}}" role="button">Commander</a></li>
                <li><a class="btn btn-primary" href="{{ path('app_Command_suivi')}}" role="button">Suivre mes commandes</a></li>
                <li><a class="btn btn-danger btn-sm" href="/logout" role="button">Me déconnecter</a></li>
            </ul>
        </nav>
            {% block body %}{% endblock %}
        </div>
            {% block footer %}
            <footer>
               <div class="wrapper">
                <small>Je suis Baptiste, contactez-moi au 06.12.1212.</small>
            </div>
            </footer>
                {% endblock %}
            {% block javascripts %}{% endblock %}
        </div>
    </body>
</html>
