{% extends "baseAdmin.html.twig" %}

{% block title %}Administration{% endblock %}

{% block body %}
Bienvenue super admine<b>{{app.user.username}}</b>:
Voici l'historiques de toutes les commandes: 
<table class="table">
  <thead class="table-primary">
    <tr>
    <th>Client</th>
    <th>date de commande</th>
    <th>objet</th>
    <th>statut de la commande</th>
    <th>statut de facturation</th>
    <th>voir </th>
</tr>
</thead>
{% for commande in commandes %}
<tr>
    <td>
        <a href="{{ path('app_admin_fiche_client',{'clientId':commande.user.id})}}">{{commande.user.username}}
    </td>
    <td>
        {{commande.dateDeCommande|date("d/m/Y")}}
    </td>
    <td>
        {{commande.objet}}
    </td>
    <td>
        {{commande.statut}}
    </td>
    {% if commande.facture is defined and commande.facture.DateDeFacture is defined %}
    <td class="green">
    </td>
    {% else %}
    <td class="blue">
    </td>
    {% endif %}
    <td>
        <a href="{{ path('app_admin_commande_vue',{'commandeId':commande.id})}}"> <i class="fa fa-eye" aria-hidden="true"></i> </a>
    </td>
</tr>
{% endfor %}

</table>

{% endblock %}