{% extends "baseAdmin.html.twig" %}

{% block title %}AdministrationCommande{% endblock %}

{% block body %}

Voici les données pour la commande : 
<table>
<th>
<tr>
    <td>
        {{commande.user.username}}
    </td>
    <td>
        {{commande.dateDeCommande|date("d/m/Y")}}
    </td>
    <td>
        {{commande.objet}}
    </td>
    <td>
        {{commande.statut}}
    </td>
    
</tr>


</table>

<a class="btn btn-success" href="{{ path('app_admin_commande-edit-facture',{'commandeId':commande.id})}}" role="button">Editer la facture</a>
{% if commande.facture is defined and commande.facture.DateDeFacture is defined %}
<a class="btn btn-primary" href="{{ path('app_admin_voir_facture',{'commandeId':commande.id})}}" target="_blank" role="button">voir la facture</a>
{% endif %}
<p>Ajouter une photo:</p>
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{{ form_start(form) }}
{{form(form)}}
{{ form_end(form) }}
<h3>Photos correspondant à la commande :</h3>
<section class="gallerie"> 

{% for image in commande.photo %}
<img src="{{image.AdresseUrl}}" alt="la photo n'est pas là"/>
{% endfor %}
</section>

{% endblock %}