{% extends "baseAdmin.html.twig" %}

{% block title %}Ajout d'un client{% endblock %}

{% block body %}
<table class="table">
  <thead class="table-primary">
    <tr>
    <th>Client</th>
    <th>adresse</th>
    <th>voir les commandes</th>
</tr>
</thead>
{% for client in clients %}
<tr>
    <td>
        {{client.nom}}
    </td>
    <td>
        {{client.rue}}<br>
        {{client.CodePostal}} {{client.Ville}}
    </td>
    <td>
        <a href="{{ path('app_admin_fiche_client',{'clientId':client.id})}}"> <i class="fa fa-eye" aria-hidden="true"></i> </a>
    </td>
</tr>
{% endfor %}

</table>

<h3>Ajouter un client:</h3>
<section>
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{{ form_start(form) }}
{{ form_widget(form) }}<br>
{{ form_end(form) }}
</section>
{% endblock %}