{% extends "baseAdmin.html.twig" %}

{% block title %}AdministrationCommande{% endblock %}

{% block body %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}
Voici les données pour la commande : 
{{ form_start(form) }}
{{form_label(form.date_de_facture,'date de la facture')}}<br>
{{ form_widget(form.date_de_facture) }}<br>
{{ form_label(form.numero_facture,'Numéro de la facture:')}}<br>
{{ form_widget(form.numero_facture) }}<br>
{{ form_label(form.montant,'Montant de la facture')}}<br>
{{ form_widget(form.montant)}}<br>
{{ form_widget(form.CreerLaFacture)}}
{{ form_end(form) }}

<a href="{{ path('app_admin_commande-edit-facture',{'commandeId':commande.id})}}">Editer la facture</a>
{% if commande.facture is defined and commande.facture.DateDeFacture is defined %}
<a href="{{ path('app_admin_voir_facture',{'commandeId':commande.id})}}" target="_blank">voir la facture</a>
{% endif %}
<a href="">Ajouter une photo</a>

<script>
    $(document).ready(function() {
        // you may need to change this code if you are not using Bootstrap Datepicker
        $('.js-datepicker').datepicker({
            format: 'yyyy-mm-dd'
        });
    });
</script>

{% endblock %}