<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">        
        <link rel="stylesheet" type="text/css" href="/style/main.css">{% endblock %}
    </head>
    <body>
        <div id="wrapper">
            <h1>Baptiste, les meilleures plaques de Lyon à vélo!</h1>
            <p> adresse: Baptiste à Lyon<br>
            69002 Lyon
            </p>
            <p>
                {{commande.user.nom}} <br>
                {{commande.user.ville}} <br>
                {{commande.dateDeLivraison|date("d/m/Y")}}<br>
                {{commande.facture.montant}}

            </p>

        
        </div>
    </body>
</html>