{% extends "baseAdmin.html.twig" %}

{% block title %}fiche d'un client{% endblock %}

{% block body %}
<p>
    Nom
</p>
<p class = "attribut">
    {{client.username}}
</p>
<p>
    adresse
</p>
<p class = "attribut">
    {{client.Rue}}
</p>
<p class = "attribut">
    {{client.CodePostal}} {{client.Ville}}
</p>

<p>Liste de ses commandes: </p>
<table class="table">
  <thead class="table-primary">
<tr>
    <th>date de commande</th>
    <th>objet de la commande</th>
    <th>statut de la commande</th>
    <th>statut de la facturation</th>
    <th>voir la commande</th>
</tr>
</thead>
{% for commande in client.Commande %}
<tr>
    
    <td>
        {{commande.dateDeCommande|date("d/m/Y")}}
    </td>
    <td>
        {{commande.objet}}
    </td>
    <td>
        {{commande.statut}}
    </td>
    {% if commande.facture is defined and commande.facture.DateDeFacture is defined %}
    <td class="green">
    </td>
    {% else %}
    <td class="blue">
    </td>
    {% endif %}
    <td>
        <a href="{{ path('app_admin_commande_vue',{'commandeId':commande.id})}}"> <i class="fa fa-eye" aria-hidden="true"></i> </a>
    </td>
</tr>
{% endfor %}
</table>

{% endblock %}